<h1><%= @article.title %></h1>

<p>
	<%= @article.text %>
</p>

<%= link_to "Show all articless", articles_path %>

<h2>Comments:</h2>
<%(@article.comments.order 'created_at').each do |comment|%>
<p><b><%= "#{comment.author} (#{comment.created_at})" %></b></p>
<p><%=  comment.body %></p>
<%end%>

<p>
<%= form_for ([@article, @article.comments.build]) do |f| %>
  <p> <%= f.hidden_field :author, value: current_user.username %></p>
  
  <%= f.text_area :body %></p>

  <p><%= f.submit %></p>
<% end %>

</p>