
<div class = "container">

	<div class="row">
		<div class=col-xs-12><h1><%= @article.title %></h1></div>
	</div>

  <div class="row">
		<div class=col-xs-12>
			<%= @article.text %>
		</div>
	</div>

	<div class="row">
		<div class=col-xs-9></div>
		<div class=col-xs-3>
			<%= link_to t('articles.return_to_list'), articles_path %>
		</div>
	</div>

	<div class="row">
		<div class=col-xs-12>
			<h3><%=t('articles.comments_header')%></h3>
		</div>
	</div>

					
	<%(@article.comments.order 'created_at').each do |comment|%>
		<div class="row">
			<div class=col-xs-2>
				<b><%= "#{comment.author} (#{comment.created_at.strftime("%Y-%m-%d %H:%M:%S")})" %></b>
			</div>
			<div class=col-xs-3>  </div>
			<div class=col-xs-9>
				<%=  comment.body %>
			</div>
		</div>			
	<%end%>

	<div class="row">
		<div class=col-xs-12>
			<%= form_for ([@article, @article.comments.build]) do |f| %>
			  <%= f.hidden_field :author, value: current_user.username %>	  
			  <%= f.text_area :body %>
			  <p><%= f.submit%></p>
			<% end %>
		</div>
	</div>


</div>